    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Lobster', cursive;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        background-color: #fefefe;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    h2 {
        text-align: center;
        width: 100%;
    }
    /* Header */
    
    #logo {
        width: 8rem;
    }
    
    .menu_principal,
    .menu_cabezal {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    /* .menu_cabezal {
    margin-right: 18rem;
}
*/
    
    .minilogo {
        display: flex;
        flex-direction: column;
    }
    
    #admin {
        width: 2rem;
    }
    
    .menu_cabezal p {
        padding: 1rem;
        margin: 1.5rem;
        /* background-color: #ead295; 
        border-radius: 35%;*/
        font-size: 1.5rem;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    h4 {
        font-size: 1.2rem;
    }
    /* Banner principal */
    
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    
    .box {
        width: 3rem;
        background-color: black;
        margin: 2rem;
    }
    
    .box img {
        width: 100%;
    }
    /*cards container*/
    
    .title {
        margin-top: 2rem;
        text-align: center;
    }
    
    .container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        /* background-color: #ead295; */
    }
    
    .container .card {
        width: 330px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    }
    
    .container .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, .2);
    }
    
    .container .card img {
        width: 330px;
        height: 220px;
    }
    
    .container .card h4 {
        font-weight: bolder;
    }
    
    .container .card p {
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    }
    
    .container .card a {
        font-weight: 500;
        color: gray;
        /* border: 1px solid black; */
    }
    /*formulario*/
    
    form .formu {
        display: flex;
        flex-direction: column;
    }
    
    fieldset {
        margin-bottom: 1rem;
        padding: 1rem;
    }
    
    textarea {
        resize: none;
    }
    /*footer*/
    
    footer {
        margin: 4rem 0 1rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .container_botones {
        display: flex;
        justify-content: space-evenly
    }
    
    .boton {
        border-radius: .3rem;
        padding: .5rem;
    }
    /*index admin*/
    
    .container_pedidos {
        display: flex;
        justify-content: center;
    }
    
    table {
        border: solid 1px black;
        margin: 1rem;
        padding: 1.5rem;
    }
    
    table td {
        border: solid 1px black;
        padding: .5rem;
        margin: auto;
        font-size: .8rem;
    }